.banner-section {
    position: relative;
    // isolation: isolate;
    background-image: url(/images/light.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // padding: 60px;
    width: 100%;
    height: 200px;
    
    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: hsl(var(--base)/.4);
        z-index: -1;
    }
}
.padding-around{
    padding: 0 25px 40px 25px !important;
}